In [510]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [511]:
cars=pd.read_csv(r"C:\Users\Anjishnu Satpathy\Documents\CarPrices\CarPrice_Assignment.csv")
cars.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [512]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [513]:
cars['price'].unique()

array([13495.   , 16500.   , 13950.   , 17450.   , 15250.   , 17710.   ,
       18920.   , 23875.   , 17859.167, 16430.   , 16925.   , 20970.   ,
       21105.   , 24565.   , 30760.   , 41315.   , 36880.   ,  5151.   ,
        6295.   ,  6575.   ,  5572.   ,  6377.   ,  7957.   ,  6229.   ,
        6692.   ,  7609.   ,  8558.   ,  8921.   , 12964.   ,  6479.   ,
        6855.   ,  5399.   ,  6529.   ,  7129.   ,  7295.   ,  7895.   ,
        9095.   ,  8845.   , 10295.   , 12945.   , 10345.   ,  6785.   ,
        8916.5  , 11048.   , 32250.   , 35550.   , 36000.   ,  5195.   ,
        6095.   ,  6795.   ,  6695.   ,  7395.   , 10945.   , 11845.   ,
       13645.   , 15645.   ,  8495.   , 10595.   , 10245.   , 10795.   ,
       11245.   , 18280.   , 18344.   , 25552.   , 28248.   , 28176.   ,
       31600.   , 34184.   , 35056.   , 40960.   , 45400.   , 16503.   ,
        5389.   ,  6189.   ,  6669.   ,  7689.   ,  9959.   ,  8499.   ,
       12629.   , 14869.   , 14489.   ,  6989.   ,  8189.   ,  9279.   ,
        5499.   ,  7099.   ,  6649.   ,  6849.   ,  7349.   ,  7299.   ,
        7799.   ,  7499.   ,  7999.   ,  8249.   ,  8949.   ,  9549.   ,
       13499.   , 14399.   , 17199.   , 19699.   , 18399.   , 11900.   ,
       13200.   , 12440.   , 13860.   , 15580.   , 16900.   , 16695.   ,
       17075.   , 16630.   , 17950.   , 18150.   , 12764.   , 22018.   ,
       32528.   , 34028.   , 37028.   , 31400.5  ,  9295.   ,  9895.   ,
       11850.   , 12170.   , 15040.   , 15510.   , 18620.   ,  5118.   ,
        7053.   ,  7603.   ,  7126.   ,  7775.   ,  9960.   ,  9233.   ,
       11259.   ,  7463.   , 10198.   ,  8013.   , 11694.   ,  5348.   ,
        6338.   ,  6488.   ,  6918.   ,  7898.   ,  8778.   ,  6938.   ,
        7198.   ,  7788.   ,  7738.   ,  8358.   ,  9258.   ,  8058.   ,
        8238.   ,  9298.   ,  9538.   ,  8449.   ,  9639.   ,  9989.   ,
       11199.   , 11549.   , 17669.   ,  8948.   , 10698.   ,  9988.   ,
       10898.   , 11248.   , 16558.   , 15998.   , 15690.   , 15750.   ,
        7975.   ,  7995.   ,  8195.   ,  9495.   ,  9995.   , 11595.   ,
        9980.   , 13295.   , 13845.   , 12290.   , 12940.   , 13415.   ,
       15985.   , 16515.   , 18420.   , 18950.   , 16845.   , 19045.   ,
       21485.   , 22470.   , 22625.   ])

##quality
car names to be fixed

# Cleaning

In [514]:
backup=cars.copy()
backup

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0
201,202,-1,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0
202,203,-1,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0
203,204,-1,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
204,205,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

In [515]:
cars['CarName']=cars['CarName'].str.split().str.slice(0,1).str.join('')

In [516]:
cars.CarName = cars.CarName.str.lower()

def replace_name(a,b):
    cars.CarName.replace(a,b,inplace=True)

replace_name('maxda','mazda')
replace_name('porcshce','porsche')
replace_name('toyouta','toyota')
replace_name('vokswagen','volkswagen')
replace_name('vw','volkswagen')

cars.CarName.unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'buick', 'mercury', 'mitsubishi',
       'nissan', 'peugeot', 'plymouth', 'porsche', 'renault', 'saab',
       'subaru', 'toyota', 'volkswagen', 'volvo'], dtype=object)

In [517]:
cars['fueleconomy'] = (0.55 * cars['citympg']) + (0.45 * cars['highwaympg'])

In [518]:
cars['wheelbase']=cars['wheelbase'].astype(int)
cars['carlength']=cars['carlength'].astype(int)
cars['carwidth']=cars['carwidth'].astype(int)
cars['carheight']=cars['carheight'].astype(int)

In [519]:
#Binning the Car Companies based on avg prices of each Company.
cars['price'] = cars['price'].astype('int')
temp = cars.copy()
table = temp.groupby(['CarName'])['price'].mean()
temp = temp.merge(table.reset_index(), how='left',on='CarName')
bins = [0,10000,20000,40000]
cars_bin=['Budget','Medium','Highend']
cars['carsrange'] = pd.cut(temp['price_y'],bins,right=False,labels=cars_bin)

In [520]:
cars_lr = cars[['price', 'fueltype', 'aspiration','carbody', 'drivewheel','wheelbase',
                  'curbweight', 'enginetype', 'cylindernumber', 'enginesize', 'boreratio','horsepower', 
                    'fueleconomy', 'carlength','carwidth', 'carsrange']]
cars_lr

,price,fueltype,aspiration,carbody,drivewheel,wheelbase,curbweight,enginetype,cylindernumber,enginesize,boreratio,horsepower,fueleconomy,carlength,carwidth,carsrange
0,13495,gas,std,convertible,rwd,88,2548,dohc,four,130,3.47,111,23.70,168,64,Medium
1,16500,gas,std,convertible,rwd,88,2548,dohc,four,130,3.47,111,23.70,168,64,Medium
2,16500,gas,std,hatchback,rwd,94,2823,ohcv,six,152,2.68,154,22.15,171,65,Medium
3,13950,gas,std,sedan,fwd,99,2337,ohc,four,109,3.19,102,26.70,176,66,Medium
4,17450,gas,std,sedan,4wd,99,2824,ohc,five,136,3.19,115,19.80,176,66,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,16845,gas,std,sedan,rwd,109,2952,ohc,four,141,3.78,114,25.25,188,68,Medium
201,19045,gas,turbo,sedan,rwd,109,3049,ohc,four,141,3.78,160,21.70,188,68,Medium
202,21485,gas,std,sedan,rwd,109,3012,ohcv,six,173,3.58,134,20.25,188,68,Medium
203,22470,diesel,turbo,sedan,rwd,109,3217,ohc,six,145,3.01,106,26.45,188,68,Medium
204,22625,gas,turbo,sedan,rwd,109,3062,ohc,four,141,3.78,114,21.70,188,68,Medium

In [521]:
# Defining the map function
def dummies(x,df):
    temp = pd.get_dummies(df[x], drop_first = True)
    df = pd.concat([df, temp], axis = 1)
    df.drop([x], axis = 1, inplace = True)
    return df
# Applying the function to the cars_lr

cars_lr = dummies('fueltype',cars_lr)
cars_lr = dummies('aspiration',cars_lr)
cars_lr = dummies('carbody',cars_lr)
cars_lr = dummies('drivewheel',cars_lr)
cars_lr = dummies('enginetype',cars_lr)
cars_lr = dummies('cylindernumber',cars_lr)
cars_lr = dummies('carsrange',cars_lr)

In [522]:
cars_lr

,price,wheelbase,curbweight,enginesize,boreratio,horsepower,fueleconomy,carlength,carwidth,gas,...,ohcv,rotor,five,four,six,three,twelve,two,Medium,Highend
0,13495,88,2548,130,3.47,111,23.70,168,64,1,...,0,0,0,1,0,0,0,0,1,0
1,16500,88,2548,130,3.47,111,23.70,168,64,1,...,0,0,0,1,0,0,0,0,1,0
2,16500,94,2823,152,2.68,154,22.15,171,65,1,...,1,0,0,0,1,0,0,0,1,0
3,13950,99,2337,109,3.19,102,26.70,176,66,1,...,0,0,0,1,0,0,0,0,1,0
4,17450,99,2824,136,3.19,115,19.80,176,66,1,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,16845,109,2952,141,3.78,114,25.25,188,68,1,...,0,0,0,1,0,0,0,0,1,0
201,19045,109,3049,141,3.78,160,21.70,188,68,1,...,0,0,0,1,0,0,0,0,1,0
202,21485,109,3012,173,3.58,134,20.25,188,68,1,...,1,0,0,0,1,0,0,0,1,0
203,22470,109,3217,145,3.01,106,26.45,188,68,0,...,0,0,0,0,1,0,0,0,1,0
204,22625,109,3062,141,3.78,114,21.70,188,68,1,...,0,0,0,1,0,0,0,0,1,0

In [523]:
cars_lr.describe()

,price,wheelbase,curbweight,enginesize,boreratio,horsepower,fueleconomy,carlength,carwidth,gas,...,ohcv,rotor,five,four,six,three,twelve,two,Medium,Highend
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,...,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,13276.702439,98.297561,2555.565854,126.907317,3.329756,104.117073,27.708780,173.556098,65.414634,0.902439,...,0.063415,0.019512,0.053659,0.775610,0.117073,0.004878,0.004878,0.019512,0.419512,0.117073
std,7988.848977,6.066158,520.680204,41.642693,0.270844,39.544167,6.649183,12.256372,2.162238,0.297446,...,0.244304,0.138655,0.225894,0.418201,0.322294,0.069843,0.069843,0.138655,0.494687,0.322294
min,5118.000000,86.000000,1488.000000,61.000000,2.540000,48.000000,14.800000,141.000000,60.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7788.000000,94.000000,2145.000000,97.000000,3.150000,70.000000,21.950000,166.000000,64.000000,1.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,10295.000000,97.000000,2414.000000,120.000000,3.310000,95.000000,26.700000,173.000000,65.000000,1.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,16503.000000,102.000000,2935.000000,141.000000,3.580000,116.000000,31.800000,183.000000,66.000000,1.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
max,45400.000000,120.000000,4066.000000,326.000000,3.940000,288.000000,51.250000,208.000000,72.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

# Model

In [524]:
X=cars_lr.drop(columns='price')
Y=cars['price']
X['boreratio']=X['boreratio'].astype(int)
X['fueleconomy']=X['fueleconomy'].astype(int)
X.info()
X

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 30 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   wheelbase    205 non-null    int32
 1   curbweight   205 non-null    int64
 2   enginesize   205 non-null    int64
 3   boreratio    205 non-null    int32
 4   horsepower   205 non-null    int64
 5   fueleconomy  205 non-null    int32
 6   carlength    205 non-null    int32
 7   carwidth     205 non-null    int32
 8   gas          205 non-null    uint8
 9   turbo        205 non-null    uint8
 10  hardtop      205 non-null    uint8
 11  hatchback    205 non-null    uint8
 12  sedan        205 non-null    uint8
 13  wagon        205 non-null    uint8
 14  fwd          205 non-null    uint8
 15  rwd          205 non-null    uint8
 16  dohcv        205 non-null    uint8
 17  l            205 non-null    uint8
 18  ohc          205 non-null    uint8
 19  ohcf         205 non-null    uint8
 20  ohcv         205 non-null    uint8
 21  rotor        205 non-null    uint8
 22  five         205 non-null    uint8
 23  four         205 non-null    uint8
 24  six          205 non-null    uint8
 25  three        205 non-null    uint8
 26  twelve       205 non-null    uint8
 27  two          205 non-null    uint8
 28  Medium       205 non-null    uint8
 29  Highend      205 non-null    uint8
dtypes: int32(5), int64(3), uint8(22)
memory usage: 13.3 KB

,wheelbase,curbweight,enginesize,boreratio,horsepower,fueleconomy,carlength,carwidth,gas,turbo,...,ohcv,rotor,five,four,six,three,twelve,two,Medium,Highend
0,88,2548,130,3,111,23,168,64,1,0,...,0,0,0,1,0,0,0,0,1,0
1,88,2548,130,3,111,23,168,64,1,0,...,0,0,0,1,0,0,0,0,1,0
2,94,2823,152,2,154,22,171,65,1,0,...,1,0,0,0,1,0,0,0,1,0
3,99,2337,109,3,102,26,176,66,1,0,...,0,0,0,1,0,0,0,0,1,0
4,99,2824,136,3,115,19,176,66,1,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,109,2952,141,3,114,25,188,68,1,0,...,0,0,0,1,0,0,0,0,1,0
201,109,3049,141,3,160,21,188,68,1,1,...,0,0,0,1,0,0,0,0,1,0
202,109,3012,173,3,134,20,188,68,1,0,...,1,0,0,0,1,0,0,0,1,0
203,109,3217,145,3,106,26,188,68,0,1,...,0,0,0,0,1,0,0,0,1,0
204,109,3062,141,3,114,21,188,68,1,1,...,0,0,0,1,0,0,0,0,1,0

In [525]:
def normalize_z(dfin):
    dfout = (dfin - dfin.mean(axis=0))/dfin.std(axis=0)
    return dfout
X=normalize_z(X)
X

,wheelbase,curbweight,enginesize,boreratio,horsepower,fueleconomy,carlength,carwidth,gas,turbo,...,ohcv,rotor,five,four,six,three,twelve,two,Medium,Highend
0,-1.697542,-0.014531,0.074267,0.354623,0.174057,-0.635473,-0.453323,-0.654245,0.327995,-0.468149,...,-0.259573,-0.140725,-0.237538,0.536560,-0.363249,-0.069843,-0.069843,-0.140725,1.173444,-0.363249
1,-1.697542,-0.014531,0.074267,0.354623,0.174057,-0.635473,-0.453323,-0.654245,0.327995,-0.468149,...,-0.259573,-0.140725,-0.237538,0.536560,-0.363249,-0.069843,-0.069843,-0.140725,1.173444,-0.363249
2,-0.708449,0.513625,0.602571,-2.806144,1.261448,-0.784696,-0.208553,-0.191762,0.327995,-0.468149,...,3.833691,-0.140725,-0.237538,-1.854632,2.739503,-0.069843,-0.069843,-0.140725,1.173444,-0.363249
3,0.115796,-0.419770,-0.430023,0.354623,-0.053537,-0.187803,0.199399,0.270722,0.327995,-0.468149,...,-0.259573,-0.140725,-0.237538,0.536560,-0.363249,-0.069843,-0.069843,-0.140725,1.173444,-0.363249
4,0.115796,0.515545,0.218350,0.354623,0.275209,-1.232366,0.199399,0.270722,0.327995,-0.468149,...,-0.259573,-0.140725,4.189312,-1.854632,-0.363249,-0.069843,-0.069843,-0.140725,1.173444,-0.363249
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,1.764286,0.761377,0.338419,0.354623,0.249921,-0.337026,1.178481,1.195690,0.327995,-0.468149,...,-0.259573,-0.140725,-0.237538,0.536560,-0.363249,-0.069843,-0.069843,-0.140725,1.173444,-0.363249
201,1.764286,0.947672,0.338419,0.354623,1.413178,-0.933919,1.178481,1.195690,0.327995,2.125651,...,-0.259573,-0.140725,-0.237538,0.536560,-0.363249,-0.069843,-0.069843,-0.140725,1.173444,-0.363249
202,1.764286,0.876611,1.106861,0.354623,0.755685,-1.083143,1.178481,1.195690,0.327995,-0.468149,...,3.833691,-0.140725,-0.237538,-1.854632,2.739503,-0.069843,-0.069843,-0.140725,1.173444,-0.363249
203,1.764286,1.270327,0.434474,0.354623,0.047616,-0.187803,1.178481,1.195690,-3.033954,2.125651,...,-0.259573,-0.140725,-0.237538,-1.854632,2.739503,-0.069843,-0.069843,-0.140725,1.173444,-0.363249
204,1.764286,0.972640,0.338419,0.354623,0.249921,-0.933919,1.178481,1.195690,0.327995,2.125651,...,-0.259573,-0.140725,-0.237538,0.536560,-0.363249,-0.069843,-0.069843,-0.140725,1.173444,-0.363249

In [526]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2)

#Xtrain=np.array(X_train.values)
#Ytrain=np.array(Y_train.values)
#theta = np.array([0]*len(X.columns))
#m = np.size(Ytrain)
#theta

def hypothesis(theta,X):
    return theta*X

def costfunc(x,y,theta):
    y1 = hypothesis(theta, x)
    y1=np.sum(y1, axis=1)
    return sum(np.sqrt((y1-y)**2))/(2*m)

In [527]:
#X_train = (X_train - X_train.mean(axis = 0)) / ( X_train.max(axis = 0) - X_train.min(axis = 0) )
#X_test = (X_test - X_test.mean(axis = 0)) / ( X_test.max(axis = 0) - X_test.min(axis = 0) )

""""def gradient(x,y,theta):
    alpha = 0.00001
    iteration = 2000
#gradient descend algorithm
    J_history = np.zeros([iteration, 1]);
    for iter in range(0,2000):
        error = np.dot(x,theta) -y
        temp0 = theta[0] - ((alpha/m) * np.sum(error*x[:,0]))
        temp1 = theta[1] - ((alpha/m) * np.sum(error*x[:,1]))
        theta = np.array([temp0,temp1]).reshape(30,1)
        J_history[iter] = (1 / (2*m) ) * (np.sum((np.dot(x,theta)-y)**2))   #compute J value for each iteration 
        return theta, J_history
        
def gradientDescent(X, y, theta, alpha, i):
    J = []  #cost function in each iterations
    k = 0
    while k < i:        
        y1 = hypothesis(theta, X)
        y1 = np.sum(y1, axis=1)
        for c in range(0, len(X.columns)):
            theta[c] = theta[c] - alpha*(sum((y1-y)*X.iloc[:,c])/len(X))
        j = costfunc(X, y, theta)
        J.append(j)
        k += 1
    return J, j, theta     """"

In [528]:
    #optimising the weights & producing predicted values
class LinearRegression:
    
     def __init__(self, lr=0.0005, it=2000):
        self.lr=lr
        self.it= it
        self.weights= None
        self.base= None
    
     def optimize(self, x, y):
        sample, feat = x.shape #samples & features
        self.weights = np.zeros(feat) #1D array of zeroes initialization
        self.bias = 0

        for i in range(self.it):  
            #y = mx + c (hypothesis fn)
            y_pred = np.dot(x, self.weights) + self.bias
            dw = (1/sample) * np.dot(x.T, (y_pred - y)) #x.T gives the transpose to match to each value of (y_pred - y)
            db = (1/sample) * np.sum(y_pred-y) #mean change in bias

            #Train the weights and biases
            self.weights = self.weights - self.lr * dw #optimization formula
            self.bias = self.bias - self.lr * db   
    
     def predict(self, x):
        y_pred = np.dot(x,self.weights) + self.bias
        return y_pred

In [529]:
#calling the class

reg = LinearRegression()
reg.optimize(X_train,Y_train)
predictions = reg.predict(X_test)
print(predictions)

[ 3302.32983145  5597.84039913  5943.12544632  -321.64869059
 26726.71930169  8020.87263388  6369.9071199  16737.1835033
  7003.22232312  5543.46894504 16450.15702049 -2032.43606759
  -511.41326197  -821.87153618 15505.53242654  3334.63583233
  3574.78605686  -719.9370571  11693.15205621 19182.81239046
  5536.49110072 -3961.00252566 12758.59749195 12633.97693197
   901.79547168  1260.45896508  4658.58674826  1237.40286413
  6686.44610019 11075.50892271  4233.84573966 16285.78237935
  8153.21268094 12764.73242179 24406.74652877  2153.94763076
 -1367.30821188   344.51258539  -957.15732775  3050.37706549
  3525.26204802]

In [530]:
def mse(y_test, predictions):
    return np.mean((y_test-predictions)**2)

In [531]:
MSE = mse(Y_test, predictions)
print(MSE)

39829109.08084277